@media screen and (max-width: 1200px) {
  .wrapper {
    width: 992px;
  }

  .m-au-description {
    max-height: 512px;
    margin-left: 64px;
    padding-right: 32px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .m-au-description > p {
    text-align: left;
  }

  .m-about-us > img {
    height: 512px;
    width: 512px;
  }

  .m-gallery-images {
    max-height: 623px;
  }

  .m-gallery-img-visible {
    height: 200px;
    width: 222px;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    width: 768px;
  }

  .m-about-us > img {
    width: 320px;
  }

  .m-l-counter-block {
    height: 224px;
    width: 224px;
  }

  .scroll-up {
    height: 48px;
    width: 48px;
  }

  .fa-flesh-up {
    font-size: 24px;
  }

  .f-h-moreinfo,
  .f-h-social {
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 576px;
  }

  .wrapper-h-navbar,
  .m-about-us,
  .wrapper-f-header {
    flex-direction: column;
  }

  .h-n-menu > ul > li:not(:last-of-type) {
    margin-right: 8px;
  }

  .m-au-description {
    max-height: 384px;
    margin-top: 64px;
    margin-left: 0;
  }

  .m-about-us > img {
    height: 320px;
    width: 100%;
  }

  .m-lending-counter {
    flex-wrap: wrap;
    justify-content: center;
  }

  .m-l-counter-block:not(:last-of-type) {
    margin-right: 16px;
  }

  .m-l-counter-block:last-of-type {
    margin-top: 16px;
  }

  .f-h-moreinfo,
  .f-h-social {
    margin-right: 0;
    margin-bottom: 64px;
  }

  .modal-content {
    flex-direction: column;
  }

  .modal-content > img {
    width: 384px;
    height: auto;
  }

  .m-gallery-images {
    max-height: 475px;
  }

  .m-gallery-img-visible {
    height: 150px;
    width: 166px;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    width: 384px;
  }

  .h-n-logo,
  .h-n-menu > ul {
    margin-bottom: 12px;
  }

  .h-n-menu,
  .m-lending {
    flex-direction: column;
  }

  .lang-switcher {
    margin-left: 0;
  }

  .h-n-menu > ul > li:not(:last-of-type) {
    margin-right: 8px;
  }

  .h-n-menu > ul > li > a {
    padding: 8px 0;
  }

  .h-description > h3 {
    font-size: 14px;
  }

  .h-description > h4 {
    height: 37px;
    font-size: 32px;
  }

  .m-l-counter-block:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .m-l-counter-block:last-of-type {
    margin-top: 0;
  }

  .m-gallery-control > ul > li {
    padding: 8px 4px;
  }

  .m-gallery-control > ul > li:not(:last-of-type) {
    margin-right: 12px;
  }

  .m-l-counter-block {
    width: 100%;
  }

  .h-info-block {
    padding: 0 8px;
  }

  .h-info-block-column > p {
    font-size: 10px;
  }

  .h-info-block-column > a:nth-of-type(1) {
    font-size: 12px;
  }

  .h-info-block-column > a:nth-of-type(2) {
    font-size: 12px;
  }

  .m-gallery-images {
    max-height: 475px;
  }

  .m-gallery-img-visible {
    height: 150px;
    width: 160px;
  }
}
